<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page.</h1>
    <h3> <%= 1+2 %> </h3>
    <h3> <%= 5*5 %> </h3>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis distinctio omnis laudantium maiores rerum repudiandae repellendus nobis nisi sit repellat. Et vel ab asperiores nemo pariatur quod minus molestiae necessitatibus!</p>
    <button>Click me!</button>
</body>
</html>